@import "tailwindcss";

@layer utilities {
  .animate-in {
    animation-fill-mode: both;
  }

  .slideInFromTop {
    animation-name: slideInFromTop;
    animation-timing-function: ease-out;
  }

  .duration-300 {
    animation-duration: 300ms;
  }

  .duration-200 {
    animation-duration: 200ms;
  }
}

@keyframes slideInFromTop {
  from{
    transform: translateY(-1rem);
    opacity: 0;
  }

  to{
    transform: translateY(0);
    opacity: 1;
  }
}